body {
  margin: 0px;
}
.page {
  height: 100vh;
  font-family: 'Helvetica';
}
.page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title-block {
  display: flex;
  flex-direction: column;
  aspect-ratio: 16/9;
  position: relative;
}
.title-block-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  margin-left: 5%;
}
.title-block-bg-img {
  aspect-ratio: 16/9;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.title-block-title {
  font-family: 'Comic Sans MS';
  font-size: 40px;
  font-weight: bold;
  color: #383e80;
}
.title-block-subtitle {
  font-family: 'Comic Sans MS';
  margin-top: 40px;
  font-weight: bold;
  width: 70%;
  color: #383e80;
}
.title-block-download-button {
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(#999af4, #5c83f8);
  border-radius: 7px;
  border: none;
  font-size: 17px;
  height: 40px;
  width: 150px;
}
.title-block-download-button:hover {
  cursor: pointer;
}
.title-block-plane-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
}
.about-block {
  background-color: #f4f7fe;
}
.about-block-game-plot {
  margin: 50px;
}
.about-block-game-plot-title {
  font-family: 'Comic Sans MS';
  font-size: 40px;
  font-weight: bold;
  color: #383e80;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.about-block-game-plot-content {
  font-size: 17px;
  color: #5b6798;
}
.social-networks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 30px;
}
.social-networks-item {
  width: 40px;
  cursor: pointer;
}
.about-characters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.about-character-card {
  width: 30%;
}
.about-character-card-content {
  box-shadow: 0px 0px 10px #9fa1a6;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.about-character-card-character-name {
  width: fit-content;
  border: none;
  background-color: #5d87f7;
  padding: 15px;
  border-radius: 15px;
  position: absolute;
  margin-top: 10px;
  color: white;
}
.about-character-card-character-img {
  border-top-right-radius: 10px;
}
.about-character-card-character-description {
  display: flex;
  justify-content: center;
  padding: 25px;
  color: #353f77;
}
.questions-block {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 200/143;
}
.questions-block-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.questions-block-bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.questions-block-title {
  color: white;
  width: 100%;
  text-align: center;
  font-family: 'Comic Sans MS';
  font-size: 40px;
  font-weight: bold;
}
.questions-block-subtitle {
  color: white;
  width: 100%;
  text-align: center;
  font-family: 'Comic Sans MS';
  margin-top: 15px;
  font-weight: bold;
}
.questions-block-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
}
.questions-block-cards-row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.question-card-container {
  width: 35%;
}
.question-card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  font-family: 'Comic Sans MS';
  color: #353f77;
}
.question-mark {
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background: linear-gradient(#999af4, #5c83f8);
  border-radius: 10px;
  font-size: 30px;
}
.go-to-the-top-button {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2%;
  margin-bottom: 20%;
  cursor: pointer;
}
.news-block {
  aspect-ratio: 320/229;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.news-block-bg-img {
  aspect-ratio: 320/229;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.news-block-container {
  display: flex;
  background-color: white;
  width: 70%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.news-block-title {
  font-family: 'Comic Sans MS';
  font-size: 40px;
  font-weight: bold;
  color: #383e80;
  margin-top: 50px;
}
.news-block-subtitle {
  font-family: 'Comic Sans MS';
  font-weight: bold;
  width: 70%;
  color: #383e80;
}
.news-block-subscription {
  height: 40px;
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
}
.news-block-subscription-email {
  height: auto;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  color: #353f77;
}
.news-block-subscription-button {
  height: auto;
  border: none;
  border-radius: 10px;
  background: linear-gradient(#999af4, #5c83f8);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.news-block-container-img {
  aspect-ratio: 700/963;
  width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5%;
}
.go-text {
  font-family: 'Comic Sans MS';
  font-size: 40px;
  font-weight: bold;
  color: #383e80;
  text-align: center;
  padding: 30px;
}
